/* 폰트 */
@charset "utf-8";

@font-face {
  font-family: "Pretendard-Regular";
  src: url(../font/Pretendard-Regular.woff) format("woff"),
    url(../font/Pretendard-Regular.woff) format("opentype");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url(../font/Pretendard-Bold.woff) format("woff"),
    url(../font/Pretendard-Bold.woff) format("opentype");
}

a:focus {
  outline: none;
}

* {
  font-family: "ClashDisplay-Bold";
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  /* overflow-x: hidden; */

  box-sizing: border-box;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  font-family: "ClashDisplay-Medium", "sans-serif";
  background-color: var(--col-light);
  color: var(--col-dark);
  overscroll-behavior: scroll;
  overflow-x: hidden;
}

body,
html {
  min-height: 100%;
}

body::after {
  z-index: -1;
  content: "";
  background-image: url(../images/grain.svg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body::before {
  z-index: -1;
  content: "";
  background-image: url(../images/grid-white.svg);
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 6rem;
  right: 6rem;
  bottom: 0;
  transform: scaleY(var(--zero));
  transform-origin: 0 0;
}
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  height: 30%;
  background: var(--col-dark);

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--col-light);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  letter-spacing: normal;
  font-weight: normal;
}

fieldset,
img,
abbr,
acronym {
  border: 0 none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border: 0 none;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img,
video {
  width: 100%;
  border: 0;
}

audio,
canvas,
video {
  display: inline-block;
  display: inline;
  zoom: 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: -moz-auto;
  background-size: cover;
  /*firefox*/
  image-rendering: -o-auto;
  /*opera*/
  image-rendering: -webkit-optimize-contrast;
  /*webkit*/
  image-rendering: auto;
  -ms-interpolation-mode: nearest-neighbor;
  /* -webkit-perspective: 1; */
}

ul,
ol,
dl,
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

i {
  font-style: normal;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
label {
  vertical-align: middle;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  font-weight: normal;
  letter-spacing: normal;
  background: none;
}

button,
input {
  line-height: normal;
  box-shadow: none;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

address {
  font-style: normal;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
}

@media screen and (max-width: 1400px) {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    font-size: calc(100vw * (16 / 1400));
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
}

@media screen and (max-width: 900px) {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    font-size: calc(100vw * (16 / 428));
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
}
