<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spa 프로젝트</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <div class="wrap">
        <header class="header">
            <h1 class="logo">
                <img src="/img/logo.png" alt="로고">
                <a href="/" class="nav_link" data-link>HPNY 2023</a>
            </h1>
        </header>
        <main id="app" class="wrap_content">
            <div class="dashboard_section">
                <a href="/posts/new" class="nav_link post_btn" data-link>게시물 작성하기</a>
                <ul class="main_content">
                    <li class="post">
                        <a href="/posts/1"> 
                            <div class="post_img">
                                <img src="https://images.unsplash.com/photo-1672588159308-3c2c111884b1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzOTU0MDd8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzMwNjY1MzA&ixlib=rb-4.0.3&q=80&w=400"
                                    alt="랜덤 이미지">
                            </div>
                            <div class="text_wrap">
                                <strong class="title">화이팅!</strong>
                                <p class="content">화이팅입니다요</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </main>
    </div>
</body>

</html>