body {
  background: #111;
  padding: 10px 0;
}
body::-webkit-scrollbar {
  display: none;
}
.wrap {
  position: relative;
  width: 640px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 30px;
  background: #fff;
  border-radius: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.header .back_btn {
  display: inline-grid;
  width: 15px;
  cursor: pointer;
}
.header .logo {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.header .logo a {
  font-size: 30px;
  font-family: "Pretendard-Bold" , sans-serif;
  text-decoration: none;
  color: #000; 
}
.dashboard_section .nav_link.post_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-size: 18px;
  background: #764bea;
  border-radius: 10px;
  color: #fff;
}
.main_content {
  height: 700px;
  padding: 0 10px 30px;
  overflow-y: scroll;
}
.main_content::-webkit-scrollbar {
  display: none;
}
.main_content .post {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 7%);
  cursor: pointer;
}
.main_content .post_img {
  flex-basis: min-content;
  min-width: 23%;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
}
.main_content .text_wrap {
  width: 100%;
  margin-left: 50px;
}
.main_content .title {
  font-size: 18px;
  font-weight: bold;

  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
    
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}
.main_content .content {
  margin-top: 10px;
  font-size: 15px;

  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
    
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical
}

/* 게시물 작성페이지 */
.post_section .random_btn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-size: 18px;
  background: linear-gradient(90deg, rgba(107,100,235,1) 0%, rgba(152,127,218,1) 50%, rgba(199,185,221,1) 100%);
  color: #fff;
  border-radius: 10px;
}
.post_section label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
}
.post_section .title_input ,
.post_section .content_area {
  width: 100%;
  margin-top: 10px;
  padding: 15px 20px;
  font-size: 14px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
}
.post_section .content_area {
  height: 200px;
}
.post_section .add_btn {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  font-size: 18px;
  background:#764bea;
  border-radius: 10px;
  color: #fff;
}

/* 게시물 상세페이지 */
.random_img {
  width: 100%;
  height: 300px;
}
.detail_section .title {
  display: block;
  margin-top: 10px;
  font-size: 20px;
}
.detail_section .title_line {
  display: flex;
  align-items: baseline;
}
.detail_section .title_line p {
  margin-left: auto;
}
.detail_section .date {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  color: #6f6f6f;
}
.detail_section .content {
  height: 100px;
  font-size: 16px;
  overflow-y: auto;
}
.detail_section .btn_wrap {
  display: flex;
  justify-content: flex-end;
}
.detail_section .edit_btn ,
.detail_section .del_btn ,
.detail_section .comment_del_btn {
  padding: 7px 15px;
  font-size: 15px;
  background: #111;
  color: #fff;
  border-radius: 5px;
}
.detail_section .edit_btn {
  margin-right: 10px;
}
.detail_section .comment_list_area {
  height: 170px;
  margin-top: 20px;
  padding-top: 20px;
  overflow-y: auto;
  border-top: 1px solid #c7c7c7;
}
.detail_section .comment_list_area::-webkit-scrollbar {
  display: none;
}
.detail_section .comment_list {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.detail_section .comment_list:not(:first-child) {
  margin-top: 20px;
}
.detail_section .comment {
  width: 500px;
  font-size: 16px;
}
.detail_section .comment_del_btn {
  margin-left: auto;
  background: #fff;
  color: #111;
  border: 1px solid #c7c7c7;
}
.detail_section .comment_area {
  position: fixed;
  bottom: 5px;
  display: flex;
  align-items: center;
  width: 580px;
  height: 50px;
  padding: 5px 15px;
  background: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
}
.detail_section .comment_input {
  width: 85%;
  font-size: 14px;
}
.detail_section .comment_add_btn {
  width: 13%;
  margin-left: auto;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 14px;
  background: #764bea;
  color: #fff;
}
