<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spa 프로젝트</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <div class="wrap">
        <header class="header">
            <a class="back_btn" onclick="history.back()">
                <img src="https://hpny-1.s3.ap-northeast-2.amazonaws.com/icon_chevron_left.svg" id="back-icon">
            </a>
            <h1 class="logo">
                <img src="/img/logo.png" alt="로고">
                <a href="/" class="nav_link" data-link>HPNY 2023</a>
            </h1>
        </header>
        <main id="app" class="wrap_content">
            <div class="post_section">
                수정할거야
            </div>
        </main>
    </div>
</body>

</html>