<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spa 프로젝트</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <div class="wrap">
        <header class="header">
            <a class="back_btn" onclick="history.back()">
                <img src="https://hpny-1.s3.ap-northeast-2.amazonaws.com/icon_chevron_left.svg" id="back-icon">
            </a>
            <h1 class="logo">
                <img src="/img/logo.png" alt="로고">
                <a href="/" class="nav_link" data-link>HPNY 2023</a>
            </h1>
        </header>
        <main id="app" class="wrap_content">
            <div class="post_section">
                <form action="/posts" method="POST">
                    <fieldset>
                        <button type="button" class="random_btn">랜덤 이미지 넣기</button>
                        <div class="input_wrap">
                            <label for="title">제목</label>
                            <input id="title" type="text" name="title" class="title_input" minlength="1" maxlength="30" placeholder="글 제목을 입력해주세요"
                                value="" required>
                        </div>
                        <div class="input_wrap">
                            <label for="content">내용</label>
                            <textarea id="content" name="content" class="content_area" cols="30" rows="10" placeholder="글 내용을 입력해주세요" value=""
                                required></textarea>
                        </div>
                        <button type="submit" class="submit-button add_btn" value="Submit">등록하기</button>
                    </fieldset>
                </form>
            </div>
        </main>
    </div>
</body>
</html>